
<div style="margin-top: 10px; " class="ui stackable grid container">
<div class="sixteen wide column no-bottom">
  <h2 class="ui center aligned icon header">
    <i class="circular book icon"></i>
    Publications List
  </h2>

</div>

<h2 class="ui header">
  <i class="settings icon"></i>
  <div class="content">
    Account Settings
    <div class="sub header">Manage your preferences</div>
  </div>
</h2>

  <div style="margin-bottom: 20px" class="ui stackable grid container">
    
  {% if site.data.bio.publications %}
    <div class="row">
      <div class="fourteen wide column no-bottom">
        {% for entry in site.data.bio.publications %}

        <div class="ui grid">
          <div class="sixteen wide column no-bottom">
            <p class="ui no-bottom">
              {{ entry.author }} ({{ entry.year }}), {{ entry.title }}. In <em>{{ entry.booktitle }}</em>, {{ entry.organization }} pp. {{ entry.pages }}
              {% if entry.link %}
            <p class="ui no-bottom"><a href="{{ entry.link }}">{{ entry.link}}</a></p>
            {% endif %}
            </p>
          </div>
        </div>
        
        {% endfor %}
      </div>
    </div>
  {% endif %}
  </div>
</div>

